# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Firebase
firebase-debug.log
functions/lib/
functions/node_modules/

# Generated
*.g.dart
*.freezed.dart

# Environment
.env
.env.*
